.float-container {
    padding: 18px;
    font-family: unset;
    font-size: 14px;
    display: flex;
    /* border: 2px red; */
    border: 8px solid white;
    border-radius: 50px;
    background: aliceblue;
   }
   .button {
    background-color:rgb(216, 78, 85);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
    }
   
   .float-left {
    width: 65%;
    float: left;
    padding: 2px;
   } 
   
   .float-right {
    width: 35%;
    float: left;
    padding: 2px;
   } 
   
   .bottomAlign {
    align-self: center;
    padding-bottom: 18px;
   }
   .imageStyle {
    text-align: center;
    padding: 15px;
   }